html, body {
	margin: 0px;
	padding: 0px;
	width: auto;
	height: auto;
	font-size: 14px;
	background-color: #DDD;
}
#site_name a{
	margin-left: 14px;
	text-decoration: none;
	color: #000;
}
#site_name a:hover {
	padding: 2px;
	cursor: pointer;
	background-color: #000;
	color:#fff;
	box-shadow: 5px 5px #555;
}
#tag_line p{
	border-bottom: 2px solid black;
	width: 264px;
}
#torso {
	margin-top: 28px;
	width: 100%;
	height: 100%;
}
#content{
	overflow: auto;
	padding: 10px;
	margin: 0 auto;
	width: 75%;
}
.content_item {
	background-color: #BBB;
	margin: 0 auto;
	list-style-type: none;
	padding: 6px;
	text-align: center;
	border: 1px solid black;
	border-radius: 26px;
	width: 300px;
}
.content_item img{
	width: 32px;
	height: 32px;
	margin-bottom: 0;
}
.content_item h1{
	display: inline-block;
	margin-bottom: 0;
}
.content_item a{
	text-decoration: none;
}
.content_item a:visited{
	color: #777;
}
.content_item p{
	margin: 0;
	padding: 0;
}